/* Memory Container Styling */
.memory {
  background-color: #1e293b;
  box-shadow: 
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  border: #6d28d9 5px solid;
}

/* Memory Top Styling */
.memory-top {
  background-color: #5b6278;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  color: #f3f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #6d28d9;
}

.memory-top i {
  font-size: 24px;
  color: #f3f4f6;
  cursor: pointer;
  transition: color 0.3s ease;
}

.memory-top i:hover {
  color: #6d28d9;
}

/* Timer and Attempts Styling */
.attempts-difficulty-timer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.attempts-difficulty-timer p {
  font-size: 16px;
  font-weight: 500;
  color: #f3f4f6;
}

/* Cards Container Styling */
.cards-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  width: 650px;
  max-width: 100%;
}

/* Card Wrapper Styling */
.card-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 5px;
  max-width: 100px;
  max-height: 100px;
}

/* Card Image Styling */
.cards-container img,  .cards-container section{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.cards-container section{
  background-color: #3373da; 
}

.revealed-card {

}

.memory-images {
  transform: scale(0);
}

.flipped{
  
}

.easy-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.normal-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Card Sizes */
.easy-cards {
  width: 340px;
}

.normal-cards {
  width: 450px;
}

/* Memory Image Styling */


/* Back X Mark Styling */
.back-xmark {
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  color: #1e293b;
  transition: color 0.3s ease;
}

.back-xmark:hover {
  color: #3373da;
}

/* Media Queries for Responsiveness */

/* Tablet and larger devices */
@media (max-width: 1000px) {
  .cards-container img {
    width: 100%;
    height: 100%;
  }

  .card-wrapper {
    padding-top: 100%;
  }
}

/* Medium to small screens */
@media (max-width: 800px) {
  .cards-container {
    width: 400px;
  }
}

/* Small mobile devices */
@media (max-width: 600px) {
  .attempts-difficulty-timer p {
    font-size: 12px;
  }

  .back-xmark {
    font-size: 25px;
  }

  .normal-cards, .easy-cards {
    width: 300px;
  }

  .cards-container {
    width: 300px;
  }

  .cards-container img {
    width: 100%;
    height: 100%;
  }

  .card-wrapper {
    padding-top: 100%;
  }
}
